{
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "printWidth": 80,
  "singleQuote": true,
  "overrides": [{
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
